# Виртуальное окружение
venv/

# Файлы Python
__pycache__/
*.py[cod]

# Конфигурации IDE
.idea/
.vscode/

# Статические файлы
/staticfiles/
*.log

# SQLite база (если не хочешь коммитить)
db.sqlite3

# .env-файл с секретами (если используешь)
.env

